:root {
    --blue: #418293;
}

body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--blue);
    margin-bottom: 10px;
    text-indent: 5px;
    letter-spacing: 2px;
}

input:focus {
    outline: 0.2px solid var(--blue);
}

button {
    background: var(--blue);
    color: white;
    padding: 10px 20px;
    border: 1px solid var(--blue);
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.8s;
}

button:hover {
    transform: scale(1.1);
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-left: 0;
}

#delete-btn {
    background: white;
    color: var(--blue);
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: var(--blue);
    text-decoration: none;
    letter-spacing: 0.5px;
}